<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/card.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="card">
      <img src="/image/basit.png" alt="basit" />
      <h2>Basit Agunbiade</h2>
      <h4>
        Software Engineer | Data Analyst | Graphic Designer | FullStack Engineer
      </h4>
      <p>
        A skilled software engineer and full-stack web developer with experience
        in designing and building responsive front-end interfaces and efficient
        back-end systems. Proficient in modern web technologies and committed to
        delivering scalable, user-focused solutions.
      </p>
      <div class="socials">
        <a class="facebook" href="https://www.facebook.com/basit.agunbiade.5">
          <img src="/image/facebook.svg" alt="facebook" />
        </a>
        <a href="https://wa.me/+2348142283373">
          <img src="/image/whatsapp.svg" alt="whatsApp" />
        </a>
        <a href="https://x.com/agunbiade_basit?t=Au5G_QSMsb6Q1357Uw870A&s=09">
          <img src="/image/X.svg" alt="twitter" />
        </a>
      </div>
    </div>
  </body>
</html>
